@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EventReg
<form class="form-horizontal" method="post">
<fieldset style="margin: 20px;padding:10px;border:1px solid">

<!-- Form Name -->
<legend style="background: #eae7df;
    border-radius: 6px;text-align: center">Event Registration Form</legend>
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{
                    
                    if(@ViewBag.status==1){
                                                                               <div class="form-group">
                                                                                   <div class="alert alert-success col-md-offset-2 col-md-8">
                                                                                      <strong>Success!</strong> @ViewBag.msg
                                                                                    </div>
                                                                                </div>
                    }
                    else if(@ViewBag.status==0){
                                                                                <div class="form-group">
                                                                                    <div class="alert alert-danger col-md-offset-2 col-md-8">
                                                                                      <strong>Error!</strong> @ViewBag.msg
                                                                                    </div>
                                                                                </div>
                    }
                    else if (@ViewBag.status == 3)
                    {
                                                                <div class="form-group">
                                                                    <div class="alert alert-info col-md-offset-2 col-md-8">
                                                                        <strong>Error!</strong> @ViewBag.msg
                                                                    </div>
                                                                </div>
                    }
                    
        }
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ddlOption1">Select Event 1<span style="color:red">*</span></label>  
  <div class="col-md-4">
                <select id="ddlOption1" class="form-control" asp-for="Event1Id" onchange="calculateTotalAmt(this)">
      <option value="0">Select Option 1</option>
      <option value="1">Hackathon</option>
      <option value="2">Bug Hunter</option>
      <option value="3">Cyber League</option>
    </select>
     <span asp-validation-for="Event1Id" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
            <label class="col-md-4 control-label" for="ddlOption2" >Select Event 2</label>
  <div class="col-md-4">
                <select id="ddlOption2" class="form-control" asp-for="Event2Id" onchange="calculateTotalAmt(this)">
      <option value="0">Select Option 2</option>
      <option value="1">Hackathon</option>
      <option value="2">Bug Hunter</option>
      <option value="3">Cyber League</option>
    </select>
     <span asp-validation-for="Event2Id" class="text-danger"></span>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="ddlOption3">Select Event 3</label>
  <div class="col-md-4">
      <select id="ddlOption3" class="form-control" asp-for="Event3Id" onchange="calculateTotalAmt(this)">
        <option value="0">Select Option 3</option>
      <option value="1">Hackathon</option>
      <option value="2">Bug Hunter</option>
      <option value="3">Cyber League</option>
    </select>
     <span asp-validation-for="Event3Id" class="text-danger"></span>
  </div>
</div>



<!-- Select Basic 
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Payment Method</label>
  <div class="col-md-4">
    <select id="paymentMethod" name="selectbasic" class="form-control">
      <option value="1">Card</option>
    </select>
  </div>
        </div> -->

<div class="form-group">
  <label class="col-md-4 control-label" for="price">Total Amount(Euro)</label>
  <div class="col-md-4">                     
    <input type="text" id="total" class="form-control" asp-for="TotalAmount" readonly value="0"/>
  </div>
</div>
@{
    if(ViewBag.status!=3){
        <div>
            <center>
                <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
            </center>
        </div>
    }
}

</fieldset>
</form>
<script type="text/javascript">
    
    function calculateTotalAmt(ele){
        var id=$(ele).val();
        var id1 = $("#ddlOption1").val();
        var id2 = $("#ddlOption2").val();
        var id3 = $("#ddlOption3").val();
        if (id1 > 0 || id2>0 || id3>0)
            $("#total").val(10);
        if (id1 > 0 && (id2 > 0 || id3 > 0))
            $("#total").val(20);
        if (id2 > 0 && (id1 > 0 || id3 > 0))
            $("#total").val(20);
        if (id3 > 0 && (id1 > 0 || id2 > 0))
            $("#total").val(20);
        if (id1 > 0 && id2 > 0 && id3 > 0)
            $("#total").val(30);
    }
</script>